<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.11.1/css/uswds.min.css" integrity="sha512-jTdlH2LXTQ/nSPgY0SoocLYibqnSu0B7/DM2cmA3jPrw89dbtZKeytKXDJPYlZpjkHfHUlTe/4MTGovdM73AJw==" crossorigin="anonymous" />
  <link href="https://gitcdn.link/repo/transcom/mymove/master/public/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <style>
  li {
      list-style-type: none !important;
  }
  .hide {
      display: none;
  }
  .show {
      display: block;
  }
  .my-move-header .usa-navbar {
    height: auto !important;
  }
  .usa-nav-container {
    max-width: 100% !important;
  }
  .my-prime-container {
    padding: 0 20px;
  }

  .spacer { display: inline; }
  </style>
</head>
<body>
  <header class="usa-header usa-header--basic" role="banner">
    <div class="my-move-header desktop:padding-bottom-3">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo" id="basic-logo">
            <em class="usa-logo__text">
              <img src="https://gitcdn.link/repo/transcom/mymove/master/public/static/logo.svg" alt="MilMove">
            </em>
          </div>
          <p>August 2021 Slice Demo</p>
        </div>
      </div>
    </div>
  </header>

  <div class="my-prime container">
    <h2 class="site-preview-heading font-sans-2xl">{{pageHeading}}</h2>
    <h3 class="site-component-section-title font-sans-xl">{{pageAction}}</h3>

    <div class="usa-alert usa-alert--info" id="alert" >
      <div class="usa-alert__body">
        <h4 id="alert-heading" class="usa-alert__heading margin-bottom-4">{{alertTitle}}</h4>
        <ul class="usa-content-list font-mono-md">
          <li>
            <strong>Customer name:</strong> {{customerFullName}}
          </li>
          <li>
            <strong>Move code:</strong> {{moveCode}}
          </li>
          <li>
            <strong>Move ID:</strong> {{moveID}}
          </li>
          <li>
            <strong>Service items:</strong>
            {{#each serviceItems}}
              {{@key}}: {{this}}
            {{/each}}
          </li>
          <hr>
          <li>
            <strong>Actual pickup date:</strong> {{actualPickupDate}}
          </li>
          <li>
            <strong>Estimated weight:</strong> {{estimatedWeight}}
          </li>
          <hr>
          <li>
            <strong>Actual weight:</strong> {{actualWeight}}
          </li>
          <li>
            <strong>Reweigh weight:</strong> {{reweighWeight}}
          </li>
          <hr>
          <li>
            <strong>Reweigh status:</strong> 🔴 {{reweighStatus}}
          </li>
          <li>
            <strong>Reweigh status:</strong> 🟢 {{reweighStatus}}
          </li>
          <li>
            <strong>Reweigh status:</strong> ✅ {{reweighStatus}}
          </li>
        </ul>
      </div>
    </div>

    <div class='margin-top-4 margin-bottom-2'>
      <button class='usa-button' id='updateMove' onclick='showMoveUpdate()'>Update the Move</button>
    </div>
    <div class='hide' id='updatedShipment'>
      <table class='usa-table usa-table--borderless usa-table--striped'>
      <caption>Updated Shipment Information</caption>

      <tbody>
        <tr>
          <th scope='row'>Destination Address</th>
          <td>{{shipment.destinationAddress.streetAddress1}}, {{shipment.destinationAddress.city}}, {{shipment.destinationAddress.state}}, {{shipment.destinationAddress.postalCode}}</td>
        </tr>

        <tr>
          <th scope='row'>Scheduled Pickup Date</th>
          <td>{{shipment.scheduledPickupDate}}</td>
        </tr>

        <tr>
          <th scope='row'>Estimated Weight</th>
          <td>{{shipment.primeEstimatedWeight}}</td>
        </tr>

        <tr>
          <th scope='row'>Actual Pickup Date</th>
          <td>{{shipment.actualPickupDate}}</td>
        </tr>

        <tr>
          <th scope='row'>Actual Weight</th>
          <td>{{shipment.primeActualWeight}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <script>
    function showMoveUpdate(){
      // Show updated shipment table
      update = document.getElementById('updatedShipment');
      update.className = 'show';

      // Change alert text
      alert = document.getElementById('alert-heading');
      alert.innerText = 'Shipment Updated';
    }
  </script>

</body>
</html>
