/*
 * move.mil API
 * The Prime API for move.mil
 *
 * OpenAPI spec version: 0.0.1
 * Contact: dp3@truss.works
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.MTOServiceItem;
import io.swagger.client.model.ResponsesPermissionDenied;
import java.util.UUID;
import io.swagger.client.model.ValidationError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MtoServiceItemApi {
    private ApiClient apiClient;

    public MtoServiceItemApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MtoServiceItemApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createMTOServiceItem
     * @param moveTaskOrderID UUID of Move Task Order to use. (required)
     * @param mtoShipmentID UUID of MTO Shipment to use. (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createMTOServiceItemCall(UUID moveTaskOrderID, UUID mtoShipmentID, MTOServiceItem body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/move-task-orders/{moveTaskOrderID}/mto-shipments/{mtoShipmentID}/mto-service-items"
            .replaceAll("\\{" + "moveTaskOrderID" + "\\}", apiClient.escapeString(moveTaskOrderID.toString()))
            .replaceAll("\\{" + "mtoShipmentID" + "\\}", apiClient.escapeString(mtoShipmentID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createMTOServiceItemValidateBeforeCall(UUID moveTaskOrderID, UUID mtoShipmentID, MTOServiceItem body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'moveTaskOrderID' is set
        if (moveTaskOrderID == null) {
            throw new ApiException("Missing the required parameter 'moveTaskOrderID' when calling createMTOServiceItem(Async)");
        }
        
        // verify the required parameter 'mtoShipmentID' is set
        if (mtoShipmentID == null) {
            throw new ApiException("Missing the required parameter 'mtoShipmentID' when calling createMTOServiceItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createMTOServiceItemCall(moveTaskOrderID, mtoShipmentID, body, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Creates MTO service items that is added to a Move Task Order and MTO Shipment
     * Creates a new instance of mtoServiceItem, which come from the list of services that can be provided. Upon creation these items are associated with a Move Task Order and an MTO Shipment. 
     * @param moveTaskOrderID UUID of Move Task Order to use. (required)
     * @param mtoShipmentID UUID of MTO Shipment to use. (required)
     * @param body  (optional)
     * @return MTOServiceItem
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MTOServiceItem createMTOServiceItem(UUID moveTaskOrderID, UUID mtoShipmentID, MTOServiceItem body) throws ApiException {
        ApiResponse<MTOServiceItem> resp = createMTOServiceItemWithHttpInfo(moveTaskOrderID, mtoShipmentID, body);
        return resp.getData();
    }

    /**
     * Creates MTO service items that is added to a Move Task Order and MTO Shipment
     * Creates a new instance of mtoServiceItem, which come from the list of services that can be provided. Upon creation these items are associated with a Move Task Order and an MTO Shipment. 
     * @param moveTaskOrderID UUID of Move Task Order to use. (required)
     * @param mtoShipmentID UUID of MTO Shipment to use. (required)
     * @param body  (optional)
     * @return ApiResponse&lt;MTOServiceItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MTOServiceItem> createMTOServiceItemWithHttpInfo(UUID moveTaskOrderID, UUID mtoShipmentID, MTOServiceItem body) throws ApiException {
        com.squareup.okhttp.Call call = createMTOServiceItemValidateBeforeCall(moveTaskOrderID, mtoShipmentID, body, null, null);
        Type localVarReturnType = new TypeToken<MTOServiceItem>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates MTO service items that is added to a Move Task Order and MTO Shipment (asynchronously)
     * Creates a new instance of mtoServiceItem, which come from the list of services that can be provided. Upon creation these items are associated with a Move Task Order and an MTO Shipment. 
     * @param moveTaskOrderID UUID of Move Task Order to use. (required)
     * @param mtoShipmentID UUID of MTO Shipment to use. (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createMTOServiceItemAsync(UUID moveTaskOrderID, UUID mtoShipmentID, MTOServiceItem body, final ApiCallback<MTOServiceItem> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createMTOServiceItemValidateBeforeCall(moveTaskOrderID, mtoShipmentID, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MTOServiceItem>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
