=begin
#move.mil API

#The Prime API for move.mil

OpenAPI spec version: 0.0.1
Contact: dp3@truss.works
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class MtoServiceItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates MTO service items that is added to a Move Task Order and MTO Shipment
    # Creates a new instance of mtoServiceItem, which come from the list of services that can be provided. Upon creation these items are associated with a Move Task Order and an MTO Shipment. 
    # @param move_task_order_id UUID of Move Task Order to use.
    # @param mto_shipment_id UUID of MTO Shipment to use.
    # @param [Hash] opts the optional parameters
    # @option opts [MTOServiceItem] :body 
    # @return [MTOServiceItem]
    def create_mto_service_item(move_task_order_id, mto_shipment_id, opts = {})
      data, _status_code, _headers = create_mto_service_item_with_http_info(move_task_order_id, mto_shipment_id, opts)
      data
    end

    # Creates MTO service items that is added to a Move Task Order and MTO Shipment
    # Creates a new instance of mtoServiceItem, which come from the list of services that can be provided. Upon creation these items are associated with a Move Task Order and an MTO Shipment. 
    # @param move_task_order_id UUID of Move Task Order to use.
    # @param mto_shipment_id UUID of MTO Shipment to use.
    # @param [Hash] opts the optional parameters
    # @option opts [MTOServiceItem] :body 
    # @return [Array<(MTOServiceItem, Fixnum, Hash)>] MTOServiceItem data, response status code and response headers
    def create_mto_service_item_with_http_info(move_task_order_id, mto_shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoServiceItemApi.create_mto_service_item ...'
      end
      # verify the required parameter 'move_task_order_id' is set
      if @api_client.config.client_side_validation && move_task_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'move_task_order_id' when calling MtoServiceItemApi.create_mto_service_item"
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoServiceItemApi.create_mto_service_item"
      end
      # resource path
      local_var_path = '/move-task-orders/{moveTaskOrderID}/mto-shipments/{mtoShipmentID}/mto-service-items'.sub('{' + 'moveTaskOrderID' + '}', move_task_order_id.to_s).sub('{' + 'mtoShipmentID' + '}', mto_shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MTOServiceItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoServiceItemApi#create_mto_service_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
