=begin
#move.mil API

#The Prime API for move.mil

OpenAPI spec version: 0.0.1
Contact: dp3@truss.works
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module SwaggerClient
  class MtoShipmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Updates MTO shipment
    # Updates MTO shipment.
    # @param move_task_order_id UUID of the move task order being used.
    # @param mto_shipment_id UUID of the move task order shipment being updated.
    # @param body 
    # @param if_match Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param [Hash] opts the optional parameters
    # @return [MTOShipment]
    def update_mto_shipment(move_task_order_id, mto_shipment_id, body, if_match, opts = {})
      data, _status_code, _headers = update_mto_shipment_with_http_info(move_task_order_id, mto_shipment_id, body, if_match, opts)
      data
    end

    # Updates MTO shipment
    # Updates MTO shipment.
    # @param move_task_order_id UUID of the move task order being used.
    # @param mto_shipment_id UUID of the move task order shipment being updated.
    # @param body 
    # @param if_match Optimistic locking is implemented via the &#x60;If-Match&#x60; header. If the ETag header does not match the value of the resource on the server, the server rejects the change with a &#x60;412 Precondition Failed&#x60; error. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MTOShipment, Fixnum, Hash)>] MTOShipment data, response status code and response headers
    def update_mto_shipment_with_http_info(move_task_order_id, mto_shipment_id, body, if_match, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MtoShipmentApi.update_mto_shipment ...'
      end
      # verify the required parameter 'move_task_order_id' is set
      if @api_client.config.client_side_validation && move_task_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'move_task_order_id' when calling MtoShipmentApi.update_mto_shipment"
      end
      # verify the required parameter 'mto_shipment_id' is set
      if @api_client.config.client_side_validation && mto_shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'mto_shipment_id' when calling MtoShipmentApi.update_mto_shipment"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MtoShipmentApi.update_mto_shipment"
      end
      # verify the required parameter 'if_match' is set
      if @api_client.config.client_side_validation && if_match.nil?
        fail ArgumentError, "Missing the required parameter 'if_match' when calling MtoShipmentApi.update_mto_shipment"
      end
      # resource path
      local_var_path = '/move-task-orders/{moveTaskOrderID}/mto-shipments/{mtoShipmentID}'.sub('{' + 'moveTaskOrderID' + '}', move_task_order_id.to_s).sub('{' + 'mtoShipmentID' + '}', mto_shipment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'If-Match'] = if_match

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MTOShipment')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MtoShipmentApi#update_mto_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
